body{
    background-image: url(../../assets/images/SimpsonBackground.jpg);
}

#title {
    margin: 40px;
}
h1 {
    text-align: center;
}

.instructions {
    text-align: center;
}

.counters {
    text-align: center;
}

.btn-group {
    text-align: center;
    align-items: baseline;
}

img {
    margin: 10px;
}

.scores {
    text-align: center;
}

#randNum {
    font-size: 34px;
}

#totalScore {
    font-size: 34px;
}

#winCounter {
    font-size: 34px;
}
 
#lossCounter {
    font-size: 34px;
}


